/*para celular media*/
@media screen and (max-width: 580px) {
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  body{
    background-color: #fff;
  }
  h1{
    text-align: center;
    font-size: 6vw;
  }
  div h1{

    padding: 0px;
    
  }
  ul{
    display: flex;
    padding-top: 30px;
  }
  #itens{
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  .lin{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.1;
    color: #202020;
  }
  .lin:hover{
    color: #00d9ff; 
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff; 
  }
  .but{
  background: flex;
  width: 23vw;
  outline: none;
  padding: 8px 0px 8px 0px;
  margin: 3px;
  border-radius: 20px;
  list-style: none;
  cursor: pointer;

  transition: box-shadow 0.1;
  color: #202020;
  border: 4px solid #202020;
  }
  .but:hover{
    border: 4px solid #00d9ff; 
    color: #00d9ff; 
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff; 
  }
  } 
  .whey{
    display: flex;
    width: 16.4vw;
    padding: 0px;
    margin-left: 2px;
    text-align: center;
    top: 20px;
  }
  #lista{
    display: flex;
    width: 100px;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  .borda{
    position: relative;
    width: 92vw;
    height: 50px;
    color: #fff;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 15px;
    left: 14px;
  }
  .borda::before, .borda::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 300%;
    border-radius: 8px;
    animation: AnimarBorda 8s linear infinite;
  }
  button.neon2{
    position: relative;
    margin-top: 40px;
  }
  #neon2_whey{
    display: inline;
  }
  #neon2_cre{
    display: inline;
    padding: 6px 27px 6px 27px;
  }
  #neon2_pre{
    display: inline;
    padding: 6px 25px 6px 25px;
  }
  #neon2_hip{
    display: inline;
  }
  .neon2{
    font-size: 15px;
    font-weight: 700px;
    text-decoration: none;
    background: #202020;
    display: inline-block;
    color: #00d9ff;
    padding: 6px 10px ;
    border: #00d9ff solid 8px;
    border-radius: 16px;
    
    

    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 8px hsl(0, 0%, 100% / 0.3), 0px 0px 32px;

    position: relative;
    bottom: 20px;
    left: 5px;
  }
  /*Reflexo do botão */
  .neon2::before{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;

    background: #00d9ff;

    width: 100%;
    height: 100%;

    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
    pointer-events: none;
  }

  .neon2::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 128px 32px #00d9ff;
    opacity: 0;
    background-color: #00d9ff;
    z-index: -1;
    transition: opacity 100ms linear;
  }

  .neon2:hover::before, 
  .neon2:hover::after{
    opacity: 1;
  }

  .neon2:hover{
    color: #31202b;
    background: #00d9ff;
    text-shadow: none;
  }
  #completo{
    display: flex;
  }
  #iframe{
    display: none;
    padding: 0px;
    width: 100vw;
    height: 1000vh;
    margin-left: 0px;
    margin-bottom: 300px;
  }
  #iframe2{
    display: none;
    padding: 0px;
    width: 100vw;
    height: 1000vh;
    margin-left: 0px;
    margin-bottom: 300px;
  }
  #iframe3{
    display: none;
    padding: 0px;
    width: 100vw;
    height: 1000vh;
    margin-left: 0px;
    margin-bottom: 300px;
  }
  #iframe4{
    display: none;
    padding: 0px;
    width: 100vw;
    height: 1000vh;
    margin-left: 0px;
    margin-bottom: 300px;
  }
  #rodape{
    display: flex;
    font-size: 10px;
    margin-bottom: 50px;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    left: 0px;
    right: 0px;
    position: absolute;
    
  }
  footer{
    background-color: #31202b;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    position: relative;
    top: 120px;
    

  }
  footer p{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 40px;
    font-size: 25px;
    color: #fff;
    height: 100%;
    margin-top: 60px;
  }

  
  #logo{
    display: flex;
    position: absolute;
    
  }
  #modeloLogo1, #modeloLogo2, #modeloLogo3, #modeloLogo4, #modeloLogo5{
    display: fixed;
    bottom: 15px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
  }
  #modeloLogo1:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo2:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo3:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo4:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo5:hover{
    bottom: 20px;
    padding: 1px;
  }


/*crianndo a animação*/
@keyframes AnimarBorda {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 300%;
  }
}

.borda::after{
  filter: blur(50px);
}

/* para tablet*/

@media screen and (min-width:580px) and (max-width:920px) {
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  body{
    height: 100px;
    background-color: #808080c4;
  }
  h1{
    text-align: center;
    font-size: 6vw;
  } 
  div p{
    background-color: #fff;
    padding: 0px;
  }
  ul{
    display: flex;
  }
  #itens{
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-items: center;
  }
  .lin{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.1;
    color: #202020;
  }
  .lin:hover{
    color: #00d9ff; 
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff; 
  }
  .but{
  background: flex;
  width: 140px;
  outline: none;
  padding: 8px 0px 8px 0px;
  margin: 30px 10px;
  border-radius: 20px;
  list-style: none;
  cursor: pointer;

  transition: box-shadow 0.1;
  color: #202020;
  border: 4px solid #202020;
  }
  .but:hover{
    border: 4px solid #00d9ff; 
    color: #00d9ff; 
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff; 
  }
  .botao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
  } 
  .whey{
    font-size: 2.2vw;
    display: flex;
    width: 16.4vw;
    padding: 0px;
    margin-left: 2px;
    text-align: center;
    top: 20px;
    
  }
  
  #lista{
    display: flex;
    width: 100px;
    
    padding-bottom: 10px;
    border-radius: 10px;
  }
  .borda{
    position: relative;
    width: 96%;
    height: 50px;
    color: #fff;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 15px;
    left: 14px;
  }
  .borda::before, .borda::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 300%;
    border-radius: 8px;
    animation: AnimarBorda 8s linear infinite;
  }
  #rodape{
    display: flex;
    font-size: 10px;
    margin-bottom: 50px;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    left: 0px;
    right: 0px;
    position: absolute;
  }
  footer{
    display: flex;
    background-color: #31202b;
    width: 100%;
    margin-top: 22px;
    height: 100%;    
    justify-content: center; 
    position: relative;
    top: -50px;
    
  
  }
  footer p{
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 25px;
    color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 60px;
  }
  
  #logo{
    display: flex;
    position: absolute;
    
  }
  #modeloLogo1, #modeloLogo2, #modeloLogo3, #modeloLogo4, #modeloLogo5{
    display: fixed;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
  }
  #modeloLogo1:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo2:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo3:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo4:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo5:hover{
    bottom: 20px;
    padding: 1px;
  }

}
/*crianndo a animação*/
@keyframes AnimarBorda {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 300%;
  }
}

.borda::after{
  filter: blur(50px);
}

  
/*para computador*/

@media screen and (min-width:920px) and (max-width:1900px) {
  *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  body{
    height: 100px;
    background-color: #808080c4;
  }
  h1{
    text-align: center;
    font-size: 5vw;
  } 
  
  ul{
    display: flex;
  }
  #itens{
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    align-items: center;
  }
  .lin{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    transition: box-shadow 0.1;
    color: #202020;
  }
  .lin:hover{
    color: #00d9ff; 
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff; 
  }
  .but{
    font-size: 3vw;
    margin-top: 4vh;
    background: flex;
    width: 18vw;
    outline: none;
    padding: 1vh;
    margin-right: 4vw;
    border-radius: 20px;
    list-style: none;
    cursor: pointer;
  
    transition: box-shadow 0.1;
    color: #202020;
    border: 4px solid #202020;
    }
  .but:hover{
    border: 4px solid #00d9ff; 
    color: #00d9ff; 
    box-shadow: 0px 0px 35px #00d9ff, 0px 0px 15px #00d9ffc0 inset;
    text-shadow: 0px 0px 10px #00d9ffcc, 0px 0px 3px #00d9ff; 
  }
  .botao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  } 
  .whey{
    font-size: 2.2vw;
    display: flex;
    width: 16.4vw;
    padding: 0px;
    margin-left: 2px;
    text-align: center;
    top: 20px;
    
  }
  .neon2{
    font-size: 20px;
    font-weight: 700px;
    width: 15vw;
    height: 70px;
    text-decoration: none;
    background: #202020;
    display: inline-block;
    color: #00d9ff;
    padding: 6px 10px ;
    border: #00d9ff solid 8px;
    border-radius: 16px;
    margin-left: 24px;
    margin-top: 0px;

    box-shadow: inset 0px 0px 32px #00d9ff, 0px 0px 32px #00d9ff;
    text-shadow: 0px 0px 8px hsl(0, 0%, 100% / 0.3), 0px 0px 32px;

    position: relative;
    top: 60px;
    
  }
  /*Reflexo do botão */
  .neon2::before{
    content: "";
    position: absolute;
    top: 120%;
    left: 0;

    background: #00d9ff;

    width: 100%;
    height: 100%;

    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
    pointer-events: none;
  }

  .neon2::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 128px 32px #00d9ff;
    opacity: 0;
    background-color: #00d9ff;
    z-index: -1;
    transition: opacity 100ms linear;
  }

  .neon2:hover::before, 
  .neon2:hover::after{
    opacity: 1;
  }

  .neon2:hover{
    color: #31202b;
    background: #00d9ff;
    text-shadow: none;
  }
  
  #lista{
    display: flex;
    width: 100px;
    
    padding-bottom: 10px;
    border-radius: 10px;
  }
  .borda{
    position: relative;
    width: 96%;
    height: 50px;
    color: #fff;
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    top: 15px;
    left: 14px;
  }
  .borda::before, .borda::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
    #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 300%;
    border-radius: 8px;
    animation: AnimarBorda 8s linear infinite;
  }
  #rodape{
    display: flex;
    font-size: 3vw;
    padding-top: 15vh;
    margin-bottom: 10vh;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    position: absolute;
  }
  footer{
    background-color: #31202b;
    width: 100%;
    height: 100%;
    padding: 6vh;
    padding-bottom: 10vh;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    position: relative;
    
  }
  footer p{
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 3vh;
    font-size: 2vw;
    color: #fff;
    height: 10vh;
    margin-top: 3vh;
  }
  
  #logo{
    display: flex;
    position: absolute;
    
  }
  #modeloLogo1, #modeloLogo2, #modeloLogo3, #modeloLogo4, #modeloLogo5{
    display: fixed;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
  }
  #modeloLogo1:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo2:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo3:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo4:hover{
    bottom: 20px;
    padding: 1px;
  }
  #modeloLogo5:hover{
    bottom: 20px;
    padding: 1px;
  }

}
/*crianndo a animação*/
@keyframes AnimarBorda {
  0%{
    background-position: 0;
  }
  100%{
    background-position: 300%;
  }
}

.borda::after{
  filter: blur(50px);
}


.borda::after{
  filter: blur(50px);
}